on post-fs-data

service vendor.light-qti /vendor/bin/hw/android.hardware.lights-service.qti
    class hal
    user system
    group system
    shutdown critical
    disabled
    override
  
service charger /sbin/chargeonlymode
    class charger
    group system graphics
    seclabel u:r:charger:s0
